{% extends 'layout.html' %}

{% block body %}
    <div class="col-md4 offset-md-4">
        <div class="car card-body">
            <form action="/update/{{ alumno.0 }}" method="POST">  <!-- Se despliega el alumno y su informacion-->
                <div class="form-group">
                    <input type="text" name="nombre_alu" placeholder="Nombre" value="{{ alumno.1 }}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="ape_p_alu" placeholder="Apellido paterno" value="{{ alumno.2 }}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="ape_m_alu" placeholder="Apellido materno" value="{{ alumno.3 }}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="promedio" placeholder="Promedio en el semestre" value="{{ alumno.4 }}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="promedio" placeholder="Promedio en el semestre" value="{{ alumno.4 }}" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Save
                    </button> <!-- Se envian los cambios a "/update/ + id_alu"-->
                </div>
            </form>
        </div>
    </div>

{% endblock %}