<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Python_Flask_Mysql</h1>

</body>
</html>

{% with messages = get_flashed_messages() %} <!-- Se recibe el mensaje flash y se asigna a "messages" -->
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="/add_contact" method="POST">
    <input type="text" name="id_alu" placeholder="ID">
    <input type="text" name="nombre_alu" placeholder="Nombre">
    <input type="text" name="ape_p_alu" placeholder="Apellido paterno">
    <input type="text" name="ape_m_alu" placeholder="Apellido materno">
    <input type="text" name="promedio" placeholder="Promedio en el semestre">
    <button type="submit">
        Save
    </button>
</form>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido paterno</td>
            <td>Apellido materno</td>
            <td>Promedio</td>
        </tr>
    </thead>
    <tbody>
        {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.0 }}</td>
                <td>{{ alumno.1 }}</td>
                <td>{{ alumno.2 }}</td>
                <td>{{ alumno.3 }}</td>
                <td>{{ alumno.4 }}</td>
                <td>
                    <a href="/edit/{{ alumno.0 }}">Editar</a>
                    <a href="/delete/{{ alumno.0 }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>